* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;

    font-family: "Lato", sans-serif;

}

.hero_container {
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;

}

.text_container {
    color: white;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 64px;
    padding-left: 60px;
}

h1 {
    font-size: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 400;

}

.work_section {
    background-color: black;
    color: white;
    padding: 50px;
    font-family: "Lato", sans-serif;
}

.work_section h2 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.work_section h2 span {
    font-size: 100px;
}

h1 .subtext {
    font-size: 50px;
}

.class_grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    font-size: 20px;
    font-weight: 10px;
    max-width: 1300px;
    margin: 80px auto;
}

.card {
    max-width: 320px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: 0.2s ease-in-out;
}

.grid_item {
    display: flex;
    justify-content: center;
    align-content: center;
}

.card_content {
    padding: 20px;
}

.card_content h4 {
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.2s ease-in-out;
}

.bottom_section {
    display: flex;
}

.contact {
    background-color: rgb(82, 82, 6);

}

.about_me {
    background-color: rgb(131, 0, 0);
}

.contact,
.about_me {
    min-height: 300px;
    padding: 32px;
    color: white;
    font-size: 25px;
    font-weight: 300;
}

footer {
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 40px;
}